body {
    background-color: #e2e2e2 !important;

}

/*** NAV ***/

.navlink_picture {
    max-height: 50px;
    max-width: auto;
}

.btn-success {
    color:  #9e9e9ec2 !important;
    background-color: white !important;
    border-color: #02fc7e !important;
}

.btn-success:hover {
    color: #1f1f1fab !important;
    background-color: #9e9e9ec2 !important;
    border-color: #02fc7e !important;
}

/*****     ADVANCED SEARCH (FROM NAV)     *****/

/* Make div appear */
.AdvancedSearchDiv {
    left: 0;
    text-align: center;
    color:  #9e9e9ec2 !important;
    background-color: white !important;
    /*position: fixed;*/
    padding-top: 84px;
    height: 100%;
    z-index: 1;
    /* CSS ANIMATIONS */
    -webkit-animation-name: AdvancedSearchDiv; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: AdvancedSearchDiv;
    animation-duration: 1s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes AdvancedSearchDiv {
    from {left: -50%;}
    to {left: 0;}
}

/* Standard syntax */
@keyframes AdvancedSearchDiv {
    from {left: -50%;}
    to {left: 0;}
}
.card-body {
    text-align: right !important;
    box-shadow: 0 20px 40px rgba(0,0,0,.04) !important;


}
/* Make div appear */
.DisappearSearchDiv {
    left: -50%;
    text-align: center;
    color:  #9e9e9ec2 !important;
    background-color: white !important;
    position: fixed;
    height: 100%;
    z-index: 1;
    /* CSS ANIMATIONS */
    -webkit-animation-name: DisappearSearchDiv; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: DisappearSearchDiv;
    animation-duration: 1s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes DisappearSearchDiv {
    from {left: 0;}
    to {left: -50%;}
}

/* Standard syntax */
@keyframes DisappearSearchDiv {
    from {left: 0;}
    to {left: -50%;}
}

/*****     ACCOUNT (FROM NAV)     *****/

.account_input {
    height: 50px;
}

/* Make the div appear */
.AccountDiv {
    right: 0;
    text-align: center;
    color:  #9e9e9ec2 !important;
    background-color: white !important;
    position: fixed;
    height: 100%;
    z-index: 1;
    /* CSS ANIMATIONS */
    -webkit-animation-name: AccountDiv; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: AccountDiv;
    animation-duration: 1s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes AccountDiv {
    from {right: -50%;}
    to {right: 0;}
}

/* Standard syntax */
@keyframes AccountDiv {
    from {right: -50%;}
    to {right: 0;}
}

/* Make the div disappear */
.DisappearAccountDiv {
    right: -50%;
    text-align: center;
    color:  #9e9e9ec2 !important;
    background-color: white !important;
    position: fixed;
    height: 100%;
    z-index: 1;
    /* CSS ANIMATIONS */
    -webkit-animation-name: DisappearAccountDiv; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: DisappearAccountDiv;
    animation-duration: 1s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes DisappearAccountDiv {
    from {right: 0;}
    to {right: -50%;}
}

/* Standard syntax */
@keyframes DisappearAccountDiv {
    from {right: 0;}
    to {right: -50%;}
}

.profile_picture_row {
    height: 210px;
}

.profile_picture {
    max-height: 200px;
    max-width: auto;
    border-radius: 3%;
}

.profile_picture:hover {
    
}

.profile_picture_div:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.text {
    color: black;
    font-size: 18px;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
} 

.profile_picture_div:hover .text {
    display: inline-block;
    z-index: 999;
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 15px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(42px);
    -ms-transform: translateX(42px);
    transform: translateX(42px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

/*****      HOME PAGE      ******/
.image img{
    height: 80%;
    width: 80%;
}

.col-sm-3 h3, .col-sm-3 h4, .col-sm-3 h5{
	text-align: center;
}

.col-sm-3 img{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

h1.jumbotron span{
	color:red;
}

.col-sm-3 h5 {
    padding: 3% 9%;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    color: rgb(229, 255, 0);
    font-size: 1.42rem;
}


/* By hiding the .overlay element by default, 
we use the selector .image:hover .overlay 
to change the styling on hover. 
Due to the HTML structure, this works well because .overlay 
is a descendant element. */
/*
.image {
  position:relative;
   display:inline-block;
}
*/

.play_hover{
text-align: center;
padding: 5%;
}

.btn-info {
    color: #1f1f1fab !important;
    background-color: #9e9e9ec2 !important;
    border-color: #02fc7e !important;
}

.btn-info:hover {
    color:  #9e9e9ec2 !important;
    background-color: white !important;
    border-color: #02fc7e !important;
}

.resume_film{
    padding: 10%;
}

.overlay {
   display:none;
}
.image:hover .overlay {
    width: 65%;
    height: 90%;
    background:rgba(0,0,0,.75);
    color: #e2e2e2;
    position:absolute;
    padding: 10%;
    top:45%;
    left:50%;
    transform:translate(-50%, -50%);

    border-style: solid 1px #5f5656;

    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding: 9%;

    /* All other styling - see example */
    img {
        vertical-align:top;
    }
}

/*.pagination_div{
	margin-left: 45%;
}
*/

/**** FOOTER *****/

.footer {
	margin-bottom:0;
	color: red;
}

/**** CREATE ACCOUNT ****/

@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body{
    margin: 0;
    font-size: 1.42rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.navbar-perso
{
    margin-bottom: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.img_auth 
{
    max-height: 50px;
    max-width: auto;
}

/****** OAuth account ******/

.preloader {
    display: flex;
    height: 50vh;
    transition: opacity 0.3s linear;
    width: 100%;
    z-index: 9999;
}

/********* ACCOUNT *****/

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-right: 250px;
    }

    #wrapper.toggled {
        padding-right: 0;
    }

    #sidebar-wrapper {
        width: 60%;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/***** QUERIES ******/

@media (max-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
.btn.btn-success 
    {
        position: absolute !important;
        width: 100% !important;
        right: 0 !important;
    }
}