.main-navigation-item {
    margin-left: 1.5rem;
}

.main-navigation-logo {
    color: #343a40;
}

.main-navigation-item ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.main-navigation-item li {
    margin: 0 1rem;
}

.main-navigation-item a {
    text-decoration: none;
    color: #6c757d;
}

.main-navigation-item a:hover,
.main-navigation-item a.active,
.main-navigation-item a:active {
    color: #343a40;
}

