.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-control {
    margin-bottom: 1rem;
}

.form-actions button {
    background-color: orchid;
    font: inherit;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
    background-color: khaki;
}
